<h2>{{ kind_name }}</h2>
{% if images %}

{% for image_path in images %}
<div class="image-container">
    <div class="rotate-overlay left" onclick="rotateThisImage(this, -90); event.stopPropagation();">
        <span class="rotate-label">左に回転</span>
    </div>
    <div class="rotate-overlay right" onclick="rotateThisImage(this, 90); event.stopPropagation();">
        <span class="rotate-label">右に回転</span>
    </div>

    <img src="{{ url_for('static', filename=image_path) }}" 
         alt="PDF Page" 
         class="pdf-image" 
         onclick="openLightbox(this)">
</div>
{% endfor %}



{% else %}
    <p><em class="warning">{{ kind_name }}は提出されていません．</em></p>
{% endif %}