{% extends "viewer_base.html" %}

{%block navigation %}
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for(request.blueprint + '.index') }}">課題一覧</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block maincontent %}
    <h1>PDF Viewer</h1>
    <div id="answer"><h2>処理中・・・</h2></div>
    <div id="detail"><h2>処理中・・・</h2></div>
{% endblock %}

