{% extends "viewer_base.html" %}

{% block maincontent %}
    <h1>PDF Viewer</h1>
    <div id="answer"><h2>解答のみ</h2>
        <p>画像の処理中です <span class="status-text text-secondary"><i class="bi bi-arrow-repeat spin-icon"></i></span></p>
</div>
    <div id="detail"><h2>詳細</h2>
        <p>画像の処理中です <span class="status-text text-secondary"><i class="bi bi-arrow-repeat spin-icon"></i></span></p>
    </div>
{% endblock %}

{% block sidecontent %}
{% endblock %}

{% block scripts %}
<script>
fetch('{{ url_for("pdf.generate", report_index=report_index, student_index=student_index, kind="answer") }}')
    .then(res => res.json())
    .then(data => {
    document.getElementById('answer').innerHTML = data.html;
    });
fetch('{{ url_for("pdf.generate", report_index=report_index, student_index=student_index, kind="detail") }}')
    .then(res => res.json())
    .then(data => {
    document.getElementById('detail').innerHTML = data.html;
    });
</script>


{% endblock %}

