{% extends "base.html" %}

{% block additional_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_problems.css') }}">
{% endblock %}

{% block title %}問題編集{% endblock %}

{% block navigation %}
        <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for(request.blueprint + '.index') }}">課題一覧</a></li>
                        {% if report_index >= 0%}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for(request.blueprint + '.student_list', report_index=report_index) }}">提出一覧</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}

{% block content %}
                <h1>Problem List</h1>
                <h2>{{report_name}}</h2>

                <ul id="problem-list">
                    {% for q_id in data.order %}
                    <li class="list-item" data-id="{{ q_id }}">
                        <span class="handle">⠿</span>
                        <textarea class="editable problem-text" rows="3">{{ data.problems[q_id] }}</textarea>

                        <div class="summary-container">正答: {{summary.correct[q_id]}}/{{summary.total[q_id]}}({{ "%.1f" | format(summary.correct[q_id] / summary.total[q_id] * 100) }}%)</div>
                        
                        <div class="point-container">
                            <input type="number" class="point-input" 
                                value="{{ data.points[q_id] if data.points else 0 }}" 
                                min="0" step="0.1">
                            <span class="point-unit">点</span>
                        </div>

                        <button class="btn btn-outline-danger del-btn">削除</button>
                    </li>
                    {% endfor %}
                </ul>
                <div id="button-group">
                    <button class="btn btn-outline-primary" id="addBtn">新しい問題を追加</button>
                    <button id="saveBtn" class="btn btn-primary save"
                    data-save-url="{{ url_for(request.blueprint + '.save_problems', report_index=report_index) }}"
                    data-back-url="{{back_url}}">保存</button>

                    <!-- <button id="saveBtn" style="background-color: #28a745; color: white;">保存してファイルに書き込む</button> -->
                    <button class="btn btn-danger" id="cancelBtn" data-back-url="{{ back_url }}">キャンセル</button>
                </div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script src="{{ url_for('static', filename='js/edit_problems.js') }}"></script>
{% endblock %}