{% extends "base.html" %}

{% block title %}提出一覧{% endblock %}

{% block navigation %}
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for(request.blueprint + '.index') }}">課題一覧</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<h1>{{report}}</h1>
<ul id="student-list" data-check-url="{{url_for(request.blueprint + '.check_finished', report_index=report_index)}}">
    {% for a in student_list %}
    <li>
        <a href="{{ url_for(request.blueprint + '.viewer', report_index=report_index, student_index=loop.index0) }}">{{a}}</a>
        <span id="status-{{loop.index0}}" class="status-text text-secondary">
            <i class="bi bi-arrow-repeat spin-icon"></i>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/studentlist.js') }}"></script>
{% endblock %}